:root {
    --primary-color: #FFEC08;
    --secondary-color: #002CF5;
    --tertiary-color: #000000;
  }

.heading-1{
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    font-weight: bold;
    line-height: 70px;
    letter-spacing: 0.1em;
}
.heading-2{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: 0.1em;
}
.heading-3{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: 0.1em;
}
.parrafos{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
}


.cp-intro{
    background-image: url(/img/cp-borders-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    padding: 2em;
}
.cp-intro__logo{
    width: 650px;
    height: auto;
    object-fit: cover;
}
.cp-intro__text{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 22px;
}
.container-cont{
    text-align: center;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#clock{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.box-number{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    
}

.box-number .number{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5em 1.5em;
    border-radius: 5px;
    font-size: 3em;
    width: 50px;
    height: 50px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.box-number .text{
    color: white;
    margin-top: 1em;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.cp-intro .cp-intro__info-card__link .cp-intro__info-card{
    width: 330px;
    background-color: rgb(32,58,87);
    color: rgb(235,235,235);
    padding: 1em;
    border-radius: 24px;
    text-align: center;
    transition: .2s;
}

.cp-triangle-cont{
    width: 100%;
    height: 40px;
    z-index: 1;
    margin-top: -20px;
}

.cp-triangle-cont .cp-triangle{
    display: block;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background-color: rgba(0, 0, 0, 0.7);
}

.cp-section-2{
    width: 100%;
    height: auto;
    background-color: white;
    position: relative;
    z-index: 2;
}

.cp-section-2 .cp-section-2__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cp-section-2__text-2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.cp-section-2 .cp-section-2__text-aux{
    background-color: white;
    position: absolute;
    border-radius: 50px;
    width: 80%;
    padding: 0 1em;
    margin: 0;
    letter-spacing: 0;
    line-height: 50px;
}

.cp-section-2__lines{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cp-section-2 .cp-section-2__gallery{
    padding: 0 5rem;
}

.cp-section-2 .cp-section-2__gallery .cp-section-2__gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cp-section-3{
    width: 100%;
    height: auto;
    background-color: var(--tertiary-color);
    position: relative;
    z-index: 1;
    padding: 4rem 0;
}

.cp-triangle-cont-v2{
    width: 100%;
    height: 40px;
    margin-bottom: -20px;
}

.cp-triangle-cont-v2 .cp-triangle{
    display: block;
    width: 40px;
    height: 40px;
    z-index: 2;
    transform: rotate(45deg);
    background-color: white;
}

.cp-section-3 .cp-section-3__title{
    color: white;
    font-size: 45px;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.cp-section-3 .cp-section-3__desc{
    color: white;
    font-size: 20px;
}

.cp-triangle-cont-v3{
    width: 100%;
    height: 40px;
    margin-top: -20px;
}

.cp-triangle-cont-v3 .cp-triangle{
    display: block;
    width: 40px;
    height: 40px;
    z-index: 2;
    transform: rotate(45deg);
    background-color: var(--tertiary-color);
}

.cp-section-4{
    width: 100%;
    height: auto;
    background-color: white;
}

.cp-section-4__global-link{
    text-decoration: none;
}

.cp-section-4__global-link:hover .cp-section-4__cont-img{
    border: 5px solid var(--primary-color);
}

.cp-section-4 .cp-section-4__cont-img{
    width: 180px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--secondary-color);
    transition: .4s;
}

.cp-section-4 .cp-section-4__cont-img .cp-section-4__cont-img__img-pro{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cp-section-4 .cp-section-4__name{
    color: var(--tertiary-color);
    font-size: 20px;
    margin-top: 15px;
}

.cp-section-4 .cp-section-4__carrer{
    font-size: 17px;
    line-height: 30px;
    color: var(--tertiary-color);
}

.cp-section-4 .cp-section-4__company{
    color: var(--tertiary-color);
    font-size: 14px;
}

.cp-section-4 .cp-section-4__link-bio{
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
    background: none;
    border: none;
    outline: none;
    text-decoration: underline;   
    transition: .4s;
}

.cp-section-4 .cp-section-4__link-bio:hover{
    color: var(--primary-color);
    text-decoration: line-through;
}

.cp-section-5{
    width: 100%;
    height: auto;
    background-color: var(--tertiary-color);
    padding: 5rem 10rem;
    text-align: center;
}

.cp-section-5 .cp-section-5__text{
    color: white;
}

.cp-section-5 .link-page{
    color: white;
    text-decoration: none;
}

.cp-section-5 .cp-section-5__link{
    width: 100%;
    color: var(--secondary-color);
    text-align: center;
    transition: .2s;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    letter-spacing: 0.1em;
}

.cp-section-5 .cp-section-5__link:hover{
    color: var(--primary-color);
    text-decoration: line-through;
}

.cp-section-6{
    width: 100%;
    height: auto;
    background-color: white;
}

.cp-section-6 .cp-section-6__cont-img{
    width: 120px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

.cp-section-6 .cp-section-6__cont-img .cp-section-6__cont-img__img-pro{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cp-section-6 .cp-section-6__name{
    color: var(--tertiary-color);
    font-size: 20px;
    margin-top: 15px;
}

.cp-section-6 .cp-section-6__carrer{
    color: var(--tertiary-color);
}


.cp-section-6 .cp-section-6__country{
    color: var(--tertiary-color);
}

.cp-section-7{
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    position: relative;
    padding-bottom: 8rem;
}

.cp-section-7__lines{
    position: absolute;
    top: -85px;
    left: 50px;
    width: 70px;
    height: auto;
}


.cp-section-7 .cp-section-7__cards{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 2em;
    margin: 1em;
}

.cp-section-7 .cp-section-7__title{
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.cp-section-7 .cp-section-7__subtitle{
    color: var(--tertiary-color);
    font-size: 20px;
}

.cp-section-7 .cp-section-7__cards .cp-section-7__cards__title{
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}

.cp-section-7 .cp-section-7__cards .cp-section-7__cards__date{
    color: var(--tertiary-color);
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.cp-section-7 .cp-section-7__cards .cp-section-7__cards__year{
    color: var(--tertiary-color);
    margin-bottom: 10px;
}

.cp-section-7 .cp-section-7__cards .cp-section-7__cards__down{
    color: var(--tertiary-color);
    font-size: 20px;
}

.cp-section-7__lines-down{
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 350px;

}

.cp-section-8{
    width: 100%;
    height: auto;
}

.cp-section-8__cont-text{
    background-color: var(--tertiary-color);
    
}

.cp-section-8 .cp-section-8__text{
    color: white;
    padding: 4rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cp-section-8__img-right{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cp-section-8 .cp-section-8__link{
    width: 100%;
    color: var(--secondary-color);
    text-align: center;
    transition: .2s;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    letter-spacing: 0.1em;
    margin-bottom: 2rem;
}

.cp-section-8 .cp-section-8__link:hover{
    color: var(--primary-color);
    text-decoration: line-through;
}

.cp-section-9 .cp-cont-text-9 .cp-section-9__text-left{
    color: var(--tertiary-color);
    padding-right: 2em;
}

.cp-section-9__logo-copu{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cp-section-9 .cp-section-9__info-right .cp-section-9__info-right__company{
    color: var(--tertiary-color);
    font-size: 30px;
    margin-bottom: 10px;
}

.cp-section-9 .cp-section-9__info-right .cp-section-9__info-right__mail{
    color: var(--tertiary-color);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.cp-section-9 .cp-section-9__info-right .cp-section-9__info-right__cta{
    width: 100%;
    color: var(--secondary-color);
    transition: .2s;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    letter-spacing: 0.1em;
    margin-bottom: 2rem;
}

.cp-section-9 .cp-section-9__info-right .cp-section-9__info-right__cta:hover{
    color: var(--primary-color);
    text-decoration: line-through;
}

.cp-section-10{
    width: 100%;
    height: auto;
    background-color: var(--tertiary-color);
}

.cp-section-10 .cp-section-10__title{
    color: white;
    font-size: 30px;
}

.cp-section-10 .cp-section-10__cont-logo .cp-section-10__cont-logo__logo{
    width: 100%;
    height: auto;
    max-width: 100px;
}

.cp-section-footer{
    background-color: white;
}

.cp-section-footer .cp-section-footer__text{
    color: var(--tertiary-color);
    text-align: center;
}

.cp-section-footer .cp-section-footer__text a{
    color: var(--secondary-color);
    text-decoration: none;
    transition: .4s;
}

.cp-section-footer .cp-section-footer__text a:hover{
    opacity: .7;
}

.cp-speakers-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    grid-gap: 2rem;
}

.modal-cont-text{
    padding: 0 3.5em;
}

.modal-cont-foto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.modal-cont-foto img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

@media (min-width: 1920px){
    .cp-section-2 .cp-section-2__text-aux{
        padding: 2em 1em;
    }
}

@media (max-width: 992px) {
    .cp-intro{
        height: auto;
        padding: 23em 2em 2em 2em;
    }
    .cp-section-2{
    margin-top: 1em !important;
    }
    .cp-section-2__text{
        margin-top: -4em;
    }
    .cp-section-2 .cp-section__cont-text{
        padding: 1em;
    }
    .cp-section-2 .cp-section-2__cont-img{
        padding: 1em;
    }
    .cp-section-2 .cp-section-2__text-aux{
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .cp-section-3{
        padding: 3rem 0;
    }
    .cp-section-4__cont-pro{
        margin-bottom: 4em;
    }
    .cp-section-5{
        padding: 3em;
    }
    .cp-section-6 .cp-card-2{
        margin: 2em 0;
    }
    .cp-section-7 .cp-section-7__cards{
        padding: 2em 2em 3em 2em;
    }
    .cp-section-7__lines{
        top: -215px;
    }
    .cp-section-8{
        padding: 0;
    }
    .cp-section-8 .row{
        margin: 0;
    }
    .cp-section-9 .cp-cont-text-9{
        padding: 1em;
    }
    .cp-section-9__info-right{
        padding-top: 3rem;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 576px){
    .cp-intro{
        background-image: url(/img/cp-borders-mb.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1em;
        height: 650px;
    }
    .cp-intro__logo{
        width: 330px;
    }
    .cp-intro__text{
        font-size: 18px;
    }
    .cp-intro__date{
        width: 95%;
        background-color: rgba(0, 31, 247, 0.6);
        padding: .5em;
    }
    .cp-intro__date span{
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .container-cont{
        height: 200px;
    }
    #clock{
        box-sizing: border-box;
    }
    .box-number{
        width: 30%;
        box-sizing: border-box;
    }
    .box-number .number{
        font-size: 2em;
    }
    .box-number .text{
        font-size: 13px;
    }
    .cp-section-2__text{
        margin-top: -4em;
    }
    .cp-section-2 .cp-section-2__text-2{
        padding: 0;
        height: 510px;
    }
    .cp-section-2__text-aux{
        font-size: 17px;
    }
    .cp-section-2__cont-img{
        padding: 0;
    }
    .cp-section-2 .cp-section-2__gallery{
        padding: 0 !important;
    }
    .cp-section-3{
        padding: 3rem 1em;
    }
    .cp-section-3 .cp-section-3__title{
        font-size: 30px;
    }
    .cp-section-3 .cp-section-3__desc{
        font-size: 17px;
    }
    .cp-section-4__cont-pro{
        text-align: center;
    }
    .cp-section-5{
        padding: 3rem 1em;
    }
    .cp-section-5 .cp-section-5__text{
        font-size: 17px;
    }
    .cp-section-6 .cp-card-2{
        text-align: center;
    }
    .cp-section-7 .cp-section-7__title{
        font-size: 30px;
        text-align: center;
    }
    .cp-section-7 .row{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .cp-section-8 .cp-section-8__text{
        font-size: 17px;
    }
    .cp-section-9 .cp-cont-text-9 .cp-section-9__text-left{
        font-size: 17px;
        margin-top: -4em;
        padding-right: 0;
    }
    
    .cp-section-9 .cp-section-9__info-right .cp-section-9__info-right__company{
        font-size: 30px;
    }
    .cp-section-10 .cp-section-10__title{
        font-size: 23px;
    }
}